<div class="about-info">
    <div class="about-me">
        <a href="/">
            <img src="../public/imgs/bandera.png" alt="">
        </a>
    </div>
    <h3>Bienvenido~</h3>
    <p>Te doy la bienvenida a mis dominios.</p>
    <p>
        Soy un chico furro qué tiene muchas cosas en la cabeza y quiero compartirlas con tigo, donde quiera que estés y quien quiera que seas.<br>Espero te gusten las entradas de mi blog personal. O si gustas también tengo las historias que he escrito, algunas puede que te gusten, otras puede que no. Siéntete libre de escoger. 
    </p>
    <p>
        Si gustas mandarme algún mensaje o quieres compartir algo, déjamelo saber en [micorreo@midominio.com]
    </p>
    <p>
        Estare encantado de leerte y saber tus opiniones.<br>Disfruta de tu estancia aquí.
    </p>

    <a href="/QuienSoy">Leer Más...</a>
</div>