<div class="about-info">
    <div class="about-me">
        <a href="/QuienSoy">
            <img src="../public/imgs/bandera.png" alt="">
        </a>
    </div>
    <h3>Bienvenido~</h3>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea, aperiam.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi aliquid commodi distinctio. Officiis nemo sint unde sed eveniet veritatis possimus harum quas aspernatur, vero porro totam voluptatibus iusto culpa fugiat ipsum omnis. Dolore magnam sequi fuga eum. Neque, facilis voluptatibus!</p>

    <a href="#">Leer Más...</a>
</div>