<footer>
  <div class="footer-first">
    <div class="footer-greatings">
      <h1>Creditos a:</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus,
        sint!
      </p>
      <p>Lorem ipsum dolor sit amet.</p>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Soluta ducimus
        illo explicabo dolor exercitationem? Obcaecati, saepe illo amet modi
        dolore tempore totam, provident ab assumenda excepturi nesciunt vel!
        Deserunt, accusamus.
      </p>
    </div>

    <div class="footer-contact">
      <h1>Contacto</h1>
      <div class="contact-list">
        <p><a href="#">Red1</a></p>
        <p><a href="#">Red2</a></p>
        <p><a href="#">Red3</a></p>
      </div>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veritatis,
        facere rerum eius placeat consequuntur corrupti.
      </p>
    </div>
  </div>

  <div class="A3P">
    <p>
      Este sitio ha sido crado, diseñado y auspiciado por: Audiphon3
      Prorductions
    </p>
  </div>
</footer>
