<nav>
  <div class="nav-title">
    <a href="/">DEMIAN HALLYFAX</a>
  </div>
  
  <label for="check" class="checkbtn">
    <i class="fa fa-bars"></i>
  </label>
  <input type="checkbox" id="check">
  
  <div class="nav-menu">
    <a href="/QuienSoy" class="nav-a">¿Quien soy?</a>
    <a href="/blog?page=1&limit=5" class="nav-a">Blog</a>
    <a href="/stories/index" class="nav-a">Historias</a>
    <a href="/Gallery" class="nav-a">Galeria</a>
  </div>
  

</nav>
