<nav>
  <div class="nav-title">
    <a href="/">Demian Hallyfax</a>
  </div>

  <div class="nav-menu">
    <a href="#" class="nav-a">¿Quien soy?</a>
    <a href="/blog" class="nav-a">Blog</a>
    <a href="/stories/index" class="nav-a">Historias</a>
    <a href="#" class="nav-a">Galeria</a>
    <a href="#" class="nav-a">Agradecimientos</a>
  </div>
</nav>
