/* footer{
    display: flex;

    background-color: #151515;
    margin-top: 20px;
  }
  .footer-greatings{
    width: 50%;
    margin: 20px;
  }
  .footer-contact{
    width: 50%;
    margin: 20px;
  }
   */