<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Demian Hallyfax</title>
    <link rel="stylesheet" href="../public/assets/styles.css" type="text/css" />
    <link rel="stylesheet" href="../public/assets/gallery-styles/styles.css" type="text/css" />
    <link rel="icon" type="image/x-icon" href="../public/imgs/icon.ico" />
  </head>
  <body>
    <%- include('./partials/nav') %>

    <div class="container">
      <div class="cont-about"><%- include('./partials/about') %></div>

      <div class="gallery-container">
        <div class="gallery-title">
            <h1>Galeria</h1>
          </div>
    
          <div class="gallery-content">
            <a href="">
                <img src="https://placehold.co/260x260" alt="">
            </a>
            <a href="">
                <img src="https://placehold.co/260x260" alt="">
            </a>
            <a href="">
                <img src="https://placehold.co/260x260" alt="">
            </a>
            <a href="">
                <img src="https://placehold.co/260x260" alt="">
            </a>
            <a href="">
                <img src="https://placehold.co/260x260" alt="">
            </a>
            <a href="">
                <img src="https://placehold.co/260x260" alt="">
            </a>
            <a href="">
                <img src="https://placehold.co/260x260" alt="">
            </a>
            <a href="">
                <img src="https://placehold.co/260x260" alt="">
            </a>
            <a href="">
                <img src="https://placehold.co/260x260" alt="">
            </a>
            <a href="">
                <img src="https://placehold.co/260x260" alt="">
            </a>
            <a href="">
                <img src="https://placehold.co/260x260" alt="">
            </a>
            <a href="">
                <img src="https://placehold.co/260x260" alt="">
            </a>
          </div>
      </div>

    </div>

    <%- include('./partials/footer') %>
  </body>
</html>
