<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Demian Hallyfax</title>
    <link rel="stylesheet" href="../public/assets/styles.css" type="text/css" />
    <link
      rel="stylesheet"
      href="../public/assets/quienSoy.css"
      type="text/css"
    />
    <link rel="icon" type="image/x-icon" href="../public/imgs/icon.ico" />
  </head>
  <body>
    <%- include('./partials/nav') %>

    <div class="container">
      <div class="intro">
        <img src="../public/imgs/bandera.png" alt="" />
        <h1>¿Quien soy?</h1>
        <p>Tomemonós un tiempo, que etengo cosas que contarte...</p>
      </div>

      <div class="explicacion">
        <img src="../public/imgs/DemianIMG.png" alt="" />
        <div>
          <h2>Me Llamo Demian Hallyfax...</h2>
          <p>
            Pero he tenido otros nombres a lo largo de mi vida.<br />"Dante",
            "Audiphon3", "Audy", "Dash"... Pero he decidido que Demian sea el
            nombre con el que me gustaria que se me identificase.
          </p>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam
            tempore similique saepe numquam! Officia recusandae, ut tenetur odio
            vero, exercitationem est illum, debitis vitae obcaecati magnam modi
            soluta. Modi, quasi officiis, beatae odit ea exercitationem
            explicabo iste consequatur neque ab pariatur quod earum? Eaque
            libero ab, eos in esse cum.
          </p>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Natus
            similique omnis aspernatur accusantium eos nobis eveniet, sed
            labore! Doloremque, odio.
          </p>
        </div>
      </div>

      <div class="proyectos">
        <h1>Mis Proyectos</h1>
        <div class="Audiphon3">
            <img src="../public/imgs/bandera.png" alt="">
            <div>
                <h2>Audiphon3 Creations</h2>
                <p>Esta misma pagina web. Claro, apenas son un par de cosas por aqui y por alla, pero a futuro, esto se convertira en algo más grande.</p>
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Provident sit ut labore nihil totam itaque debitis, neque aperiam officiis esse? Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum doloribus facere ab porro, neque laboriosam excepturi quo necessitatibus. Delectus, similique?
                </p>
                <p>
                    Esto, no es un logo<br>
                    Es una Bandera. ¡ES LA FÉ QUE PUEDE MOVER MONTAÑAS!
                </p>
            </div>
        </div>
        <div class="YT">
          <div>
            <h2>Mi Canal de YT</h2>
            <p>
              No es un proyecto con el que quiero que gire y se conozca mi
              imagen "profecional" en Internet.<br />
              Pero eso no significa que no me lo tome en serio.
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas
              facilis amet, officia eos, quasi non sed odio delectus dicta
              dolorum velit nam nemo beatae. Ab est quibusdam distinctio dolor
              incidunt et nesciunt, esse, dolorum enim voluptates molestiae
              animi odit dignissimos! Omnis aperiam nesciunt repellendus? Dolor
              est sint dolorem repellat placeat?
            </p>
            <p>
                Si quieres saber mas sobre este proyecto, puerdes hacer clic <a href="">aqui.</a>
            </p>
          </div>
          <img src="../public/imgs/Captura.png" alt="" />
        </div>
      </div>
      <div class="Agradecimientos">
        <h1>Agradecimientos</h1>
        <p>
            Quiero agradecer a todas las personas que han entrado en mi vida y han dejado huella en mi alma y mi corazon. Sin ustedes, este proyecto no existiria.
        </p>
        <p>
            A mi familia, que me ha soportado y ha soportado mis locuras en lo que llevo de vida.<br>A mi Madre y a mi Hermano por tanto.<br>Gracias por todo, y perdon por tan poco.
        </p>
        <p>
            Y desde aqui, quiero agradecer a todas aquellas personas, a todos esos seres humanos que he amado.<br>A los que me correspondieron. A los que no.<br>A los que me han roto el corazón y a quienes me ayudaron a sanar.
        </p>
        <p>
            De todo corazón.<br>Muchas Gracias.
        </p>
        <p>
            <3
        </p>
      </div>
    </div>

    <%- include('./partials/footer') %>
  </body>
</html>
