<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Demian Hallyfax</title>
    <link rel="stylesheet" href="../public/assets/styles.css" type="text/css" />
    <link
      rel="stylesheet"
      href="../public/assets/quienSoy.css"
      type="text/css"
    />
    <link rel="icon" type="image/x-icon" href="../public/imgs/icon.ico" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <%- include('./partials/nav') %>

    <div class="container">
      <div class="intro">
        <img src="../public/imgs/bandera.png" alt="" />
        <h1>¿Quien soy?</h1>
        <p>Tomemonós un tiempo, que etengo cosas que contarte...</p>
      </div>

      <div class="explicacion">
        <img src="../public/imgs/DemianIMG.png" alt="" />
        <div>
          <h2>Me llamo Demian Hallyfax...</h2>

          <p>
            Pero se me ha conocido por otros nombres a lo largo de mi vida;<br />"Dash",
            "Audiphon3", "Audy", "Dante", "Oye no te comas eso", "¿Y a ti quien
            te invito?" , pero he decidido que sea Demian el nombre por el que
            se me identifique.
          </p>

          <p>
            Soy un joven adulto, independiente, nacido el 9 de Diciembre de 1999
            –Ustedes hagan los cálculos– Programador con aspiración a ser
            Senior, Dibujante aficionado, Ávido Lector y Escritor, Sommelier de
            Memes profesional y Furry desde los inicios de mi vida, pero apenas
            siendo activo en el Fandom desde 2016.
          </p>

          <p>
            Diseñe, programe e implemente la página en la que estás leyendo esto
            y mi sueño es hacer crecer este proyecto entre más crezca yo y entre
            más aprenda sobre este mundillo qué me fascina.<br />No tengo mucho
            que mostrar o demostrar de todo el tiempo que tengo en Internet,
            pero quiero lograr más de lo que he hecho en mi vida.
          </p>
        </div>
      </div>

      <div class="proyectos">
        <h1>Mis Proyectos</h1>
        <div class="Audiphon3">
          <img src="../public/imgs/bandera.png" alt="" />
          <div>
            <h2>Audiphon3 Creations</h2>
            <p>
              Mismamente esta página web/blog/base de datos de mis historias y
              movidas. No solo se quedará en una simple carta de presentación.
              Quiero que llegue a más y sirva para muchas personas.<br />¿Videojuegos?,
              ¿Novelas Visuales?, ¿Aplicaciones?, ¿API's?<br />Quien sabe. El
              sueño es el límite y tengo ganas de comerme el mundo aunque este
              me coma a mi en el proceso.
            </p>
            <p>
              Esto, no es un logo<br />
              Es una Bandera. ¡ES LA FÉ QUE PUEDE MOVER MONTAÑAS!
            </p>
          </div>
        </div>
        <div class="YT">
          <div>
            <h2>Mi Canal de YT</h2>
            <p>
              Mi propio canal de YouTube.<br />Aquí es donde subiré y crearé
              contenido donde considere que el texto y las imágenes estáticas se
              queden cortas para exponer mis ideas.
            </p>
            <p>
              Me he dado cuenta que a veces es necesario un título, una pequeña
              animación o un ejemplo casi qué didáctico para que mis ideas
              fluyan y puedan ser comprendidas. Para eso es este canal, una
              extensión de esta página web. Además de que quiero por lo menos
              una placa de 100,000 suscriptores para poder tener algo fisico de
              lo que sentirme orgulloso con migo mismo.<br />No es un proyecto
              con el que quiero que gire y se conozca mi imagen "profecional" en
              Internet.<br />Pero eso no significa que no me lo tome en serio.
            </p>
            <p>
              Si te interesa este proyecto, puedes conocerlo haciendo click
              <a href="">aqui.</a>
            </p>
          </div>
          <img src="../public/imgs/Captura.png" alt="" />
        </div>
      </div>

      <div class="mi-fursona">
        <h1>Mi fursona</h1>
        <img src="../public/imgs/fursona/DanteFicha.png" alt="" />
        <div class="fursona-description">
          <h2>Dante Asimov</h2>
          <p>
            Un mapache de 26 años, nacido en un hogar humilde, tuvo la
            oportunidad de conocer la tecnología y la informática a muy temprana
            edad por su escuela y por los pocos amigos que llegó a conocer en su
            tiempo en la escuela.<br />Pero su familia, a pesar de quererlo,
            querían que se interesará en lo pronto, en las necesidades del día a
            día, en cuestiones qué él veía, lo limitaba mucho, provocando qué su
            curiosidad intelectual le exigiera otras cosas y con ello conflictos
            con sigo mismo un gran trecho de su vida. Sumado a la distancia que
            tenía con su padre, un pescador de hombres, y su madre, un ama de
            casa con problemas emocionales, le llevó a una crisis a sus 18 años
            de abandonar su hogar fingiendo su muerte para su familia.
          </p>
          <p>
            Así, sin mirar atrás y lanzándose a la aventura, fue a convertirse
            en aquello que siempre quiso ser.<br />Tristemente la vida fue muy
            dura con él, y problemas, tras problemas, tras problemas, tuvo que
            convertirse en un hacker de sombrero gris. Ayudando a otros y
            ayudándose a sí mismo en el mundo que le rodeaba a base de sus
            conocimientos informáticos. Lo que provocó que tuviera muchos
            problemas con la ley y muchos más con grupos criminales nada
            amables. Eso lo orilló a volverse un ladrón, pero con convicción y
            un código de ética sólido (aunque para algunos, a veces tajante y
            restrictivo).
          </p>
          <p>
            Desde entonces ha tenido que moverse de ciudad en ciudad. De pueblo
            en pueblo, cambiando su identidad varias veces, ingeniandoselas para
            sobrevivir, tener un techo encima de su cabeza y buscando que
            comer.<br />Es una vida riesgosa, y poco apta para corazones
            blandos. Pero una que, para él, vale la pena vivir y que no
            cambiaría por nada.
          </p>
          <p>
            ¿Quieres saber más de él?<br />Puedes leer sus aventuras
            <a href="#">aquí.</a>
          </p>
        </div>
      </div>

      <div class="Agradecimientos">
        <h1>Agradecimientos</h1>
        <p>
          Quiero agradecer a todas las personas que han entrado en mi vida y han
          dejado huella en mi alma y mi corazon. Sin ustedes, este proyecto no
          existiria.
        </p>
        <p>
          A mi familia, que me ha soportado y ha soportado mis locuras en lo que
          llevo de vida.<br />A mi Madre y a mi Hermano por tanto.<br />Gracias
          por todo, y perdon por tan poco.
        </p>
        <p>
          Y desde aqui, quiero agradecer a todas aquellas personas, a todos esos
          seres humanos que he amado.<br />A los que me correspondieron. A los
          que no.<br />A los que me han roto el corazón y a quienes me ayudaron
          a sanar.
        </p>
        <p>De todo corazón.<br />Muchas Gracias.</p>
        <p><3</p>
      </div>
    </div>

    <%- include('./partials/footer') %>
  </body>
</html>
