<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/assets/styleSGDH.css" />
    <link rel="icon" type="image/x-icon" href="../public/imgs/icon.ico" />
    <title>SGDH</title>
  </head>
  <body>
    <div class="container">
      <h1>Bienvenido al Sistema de Gestion de Demian Hallyfax</h1>

      <h2>Elementos recientes</h2>
      <ul>
        <li>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia,
          illum architecto tempora quam deserunt quaerat similique unde ex
          possimus est!
        </li>
        <li>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia,
          illum architecto tempora quam deserunt quaerat similique unde ex
          possimus est!
        </li>
        <li>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia,
          illum architecto tempora quam deserunt quaerat similique unde ex
          possimus est!
        </li>
      </ul>

      <p>
        <a href=""><h3>Administrar Blog</h3></a>
        <a href=""><h3>Administrar Historias</h3></a>
      </p>
    </div>
  </body>
</html>
