.gallery-content a{
    margin: 0px;
    padding: 0px;
}
.gallery-content{
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px; 
}

.gallery-title h1{
    border-bottom: #ffffff solid 2px;
}

.gallery-container {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-self: center;
}
.photo{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.photo h1{
    display: flex;
    align-self: flex-start;
}
.photo p{
    white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
}