@font-face {
  font-family: theboldfont;
  src: url("fonts/the-bold-font/theboldfont.ttf");
}
.cont-article{
  width: 90%;
}
.cont-blog{
  width: 90%;
}
.cont-blog h2 a{
  font-size: 20px;
  font-family: acari-bold;
}
.content {
    display: flex;
    flex-direction: row; 
  }
.content img{
  width: 200px;
}

.about-blog-list{

  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-blog-list h2{
  text-align: center;
  color: #37ea28;
}

.about-blog-list ul{
  margin: 30px;
  width: 80%;
  list-style: circle;

  display: flex;
  flex-direction: column;
}
.about-blog-list li{
  margin: 5px;
  text-align: justify;
  color: #37ea28;
}
.about-blog-list a{
  color: #37ea28;
}
.about-blog-list a:hover{
  color: #ffffff;
}

.pagination-blog{
  display: flex;
  justify-content: safe;

  margin: 5px;
  width: 50%;
  border-top: #a5a5a5 solid 2px;
}
.pagination-blog p{
  display: flex;
  justify-content: safe;
  margin: 0%;
}
.pagination-blog a{
  color: #a5a5a5;
  font-size: 20px;
  font-family: Libre-C;
}
.pagination-blog a:hover{
  color: #37ea28;
  font-size: 27px;
}

/* --------------- */

.cont-article p{
  /* font-family:'Times New Roman', Times, serif; */
  font-family: Libre-C;
  font-size: 14px;
  width: auto;
  margin: 22px;
  line-height: 1.5;

  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
}
.cont-article em{
  font-family: Libre-C-Italic;
}
.cont-article strong{
  font-family: Libre-C-Bold;
}
.cont-article h1{
  font-family: myfirstfont;
  border-bottom: #ffffff solid 2px;
}
.cont-article h2{
  font-family: Libre-C-Bold;
  font-size: 25px;
  margin: 20px;
}
.cont-article h3{
  font-family: Libre-C-Bold;
  margin-left: 40px;
}

.cont-article img{
  margin: 40px;
}
.article-date{
  margin: 20px;
  font-family: acari;
  font-size: 15px;
  color: #bdbdbd;
}