.container{
    display: flex;
    align-content: center;
}
/* .container h1 {
    border-bottom: solid 1px #ffffff;
    margin: 10px;
    padding: 20px;
} */
.fanfic-main{
    width: 90%;
    background: #0e0e0e;
}
.fanfic-description{
  border-bottom: solid 1px #707070;
  background: #161616;
  padding-top: 20px;
}
.fanfic-description>p:nth-child(1){
    margin-top: 0px;
}

.fanfic-main a{
    font-size: 15px;
}
.fanfic-main a:hover{
    font-size: 16px;
}
.fanfic-main p{
    margin: 20px;
}
.fanfic-main h2 a{
    font-size: 20px;
    font-family: caviarbold;
    margin: 10px;
}
.fanfic-main h2 a:hover{
    font-size: 22px;
}
.fanfic-covers-list{
    margin: 20px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}
.fanfic-card{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.fanfic-card p{
    margin: 10px;
}
.fanfic-card img{
    width: 150px;
    margin: 10px;
    border: solid 4px #37ea28;
}

.storie-content p{
  line-height: 1.5;

    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
}

.container-reading{
    display: flex;
    flex-direction: column;
}
.storie-cover{
    display: flex;
    flex-direction: row;
    border-bottom: solid 2px #ffffff;
}
.storie-cover img{
    width: 100px;
    margin: 20px;
}

.storie-content{
    display: flex;
    flex-direction: column;
    /* font-family:'Times New Roman', Times, serif; */
    font-family: Libre-C;
    margin-top: 10px;
    margin-bottom: 40px;
}
.storie-content p{
    margin-top: 5px;
    font-size: 16px;
    margin-bottom: 20px;
}
.storie-content h1{
    /* font-family:'Times New Roman', Times, serif; */
    font-family: myfirstfont;
    font-size: 30px;
    margin: 40px;
    text-align: center;
    border: none;
}
.storie-content h2{
    font-family: Libre-C-Bold;
}

.storie-content strong{
    font-family: Libre-C-Bold;
}
.storie-content em{
    font-family: Libre-C-Italic;
}

.render-storie{
    border-bottom: solid 2px #ffffff;

}


.pagination-stories{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-self: center;
    justify-content: center;
  
    margin: 5px;
    width: 50%;
  }
.pagination-stories p{
    display: flex;
    margin: 0%;
  }
.pagination-stories a{
    color: #a5a5a5;
    font-size: 20px;
    font-family: Libre-C;
  }
.pagination-stories a:hover{
    color: #37ea28;
    font-size: 27px;
  }