@import url("./indexStyles/content.css");
@import url("./indexStyles/fanfic.css");
@import url("./partials/about.css");
@import url("./responsive/responsive.css");

@font-face {
  font-family: acari;
  src: url("fonts/acari-sans-neue/AcariSansNeue-Regular.ttf");
}
@font-face {
  font-family: acari-bold;
  src: url("fonts/acari-sans-neue/AcariSansNeue-Bold.ttf");
}
@font-face {
  font-family: myfirstfont;
  src: url("fonts/myfirstfont/ManilaSansBld.otf");
}
@font-face {
  font-family: Libre-C;
  src: url("fonts/Libre-Caslon-Text-master/fonts/TTF/LibreCaslonText-Regular.ttf");
}
@font-face {
  font-family: Libre-C-Bold;
  src: url("fonts/Libre-Caslon-Text-master/fonts/TTF/LibreCaslonText-Bold.ttf");
}
@font-face {
  font-family: Libre-C-Italic;
  src: url("fonts/Libre-Caslon-Text-master/fonts/TTF/LibreCaslonText-Italic.ttf");
}

body {
  background-image: url("../imgs/patterns/image-dphqi1s5.png");
  font-family: acari;
  font-size: 14px;
  color: #ffffff;
  margin: 0px;
}
body b{
  font-family: acari-bold;
}
h1 {
  font-family: myfirstfont;
  text-transform: uppercase;
  font-size: 25px;
  color: #37ea28;
  margin: 22px;
  padding: 10px;
}
p {
  font-size: 14px;
  margin: 10px;
  text-align: justify;

}
h2 {
  font-family: acari-bold;
  font-size: 20px;
  margin: 10px;
}
body h3{
  font-family: acari-bold;
}
body a {
  font-family: acari;
  font-size: 12px;
  margin: 10px;
  color: #ffffff;
  text-decoration: none;
}
a:hover{
  color: #37ea28;
  font-size: 15px;
}

nav {
  padding: 15px;
  margin-bottom: 10px;
  background-color: #37ea28;
  border-bottom: #ffffff solid 2px;
  top: 0;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.nav-title {
  font-weight: bold;
}
.nav-title a {
  font-family: myfirstfont;
  color: #000000;
  text-decoration: none;
  font-size: 30px;
  padding: 10px;
}
.nav-title a:hover{
  color: #ffffff;
  padding: 10px;
  background: #000000;
  border-radius: 5px;
}
.nav-a {
  color: #000000;
  font-size: 16px;
  padding: 10px;
}
.nav-a:hover {
  background: #131313;
  color: #ffffff;
  font-size: 16px;
  padding: 10px;
  border-radius: 5px;
}
.nav-menu a{
  font-family: acari-bold;
}

.cont-fanfic img:hover{
  border: solid 4px #37ea28;
}
.container {
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 20px;
  width: 80%;
  /* background: #00000089; */
  background: #000000;
  border: #37ea28 solid 2px;


  display: flex;
  flex-direction: row;
  justify-self: center;
}
footer{
  background-color: #151515;
  margin-top: 10px;
  border-top: #ffffff solid 1px;
  padding: 20px;
}
.footer-first {
  display: flex;
  align-self: center;
  justify-content: space-between;
}
.footer-greatings {
  margin: 10px;
}
.footer-contact {
  margin: 10px;
}
.contact-list {

  display: flex;
  flex-direction: row;
}
.A3P{
  padding: 10px;
}
.A3P p{
  font-size: 12px;
  text-align: center;
}

.checkbtn{
  font-size: 25px;
  color: #000000;
  float: right;
  line-height: auto;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}