@font-face {
  font-family: theboldfont;
  src: url("fonts/the-bold-font/theboldfont.ttf");
}
.mainCard img{
  width: 200px;
}

/* --------------- */

.cont-article p{
  /* font-family:'Times New Roman', Times, serif; */
  font-family: Libre-C;
  font-size: 14px;
  width: auto;
  margin: 22px;
  line-height: 1.5;

  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
}
.cont-article em{
  font-family: Libre-C-Italic;
}
.cont-article strong{
  font-family: Libre-C-Bold;
}
.cont-article h1{
  font-family: myfirstfont;
  border-bottom: #ffffff solid 2px;
}
.cont-article h2{
  font-family: Libre-C-Bold;
  font-size: 25px;
  margin: 20px;
}
.cont-article h3{
  font-family: Libre-C-Bold;
  margin-left: 40px;
}

.cont-article img{
  margin: 40px;
}
.article-date{
  margin: 20px;
  font-family: acari;
  font-size: 15px;
  color: #bdbdbd;
}
.article-buttons{
  margin: 10px;
}
.btn-allArt{
  padding: 10px;
  background: #bdbdbd;
  color: #000000;
  font-family: acari-bold;
  border-radius: 10px;
  font-size: 15px;
}
.btn-allArt:hover{
  background-color: #807e7e;
  color: #000000;
}
.btn-edit{
  padding: 10px;
  background: #37ea28;
  color: #000000;
  font-family: acari-bold;
  border-radius: 10px;
  font-size: 15px;
}
.btn-edit:hover{
  background-color: #30c522;
  color: #000000;
}