<div class="form-group">
    <label for="title">Title</label>
    <input required type="text" name="title" id="title" class="form-control">
</div>
<div class="form-group">
    <label for="img">Imagen</label>
    <input required type="text" name="img" id="img" class="form-control">
</div>
<div class="form-group">
    <label for="imgTemp">Template</label>
    <input required type="text" name="imgTemp" id="imgTemp" class="form-control">
</div>
<div class="form-group">
    <label for="description">Descrición</label>
    <textarea name="decription" id="description" class="form-control"></textarea>
</div>
<div class="form-group">
    <label for="article">Articulo</label>
    <textarea name="article" id="article" class="form-control"></textarea>
</div>
<button type="submit" class="btn-submit">Guardar</button>