<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../public/assets/styleSGDH.css" />
    <link rel="icon" type="image/x-icon" href="../public/imgs/icon.ico" />
    <title>SGDH - <%= renderArticle.title %></title>
  </head>
  <body>
    <div class="container">
        <h1>SGDH: <%= renderArticle.title %></h1>

        <div class="cardForm">
            
        </div>
    </div>
  </body>
</html>
