<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/assets/styleSGDH.css" />
    <link rel="icon" type="image/x-icon" href="../public/imgs/icon.ico" />
    <title>SGDH - ARTICLES</title>
  </head>
  <body>
    <div class="container">
      <h1>Articles</h1>

      <% for(let i = 0; i < articles.length; i++){ %>
      <div class="article-card">
        <div><img src="<%= articles[i].imgTemplate %>" alt="" /></div>
        <div class="card-description">
          <h2><%= articles[i].title %></h2>
          <p><%= articles[i].description %></p>
          <div class="card-selection">
            <a href="" class="edit-btn">Edit</a> <a href="" class="delete-btn">Delete</a>
          </div>
        </div>
      </div>
      <% } %>

    </div>
  </body>
</html>
