<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../public/assets/styleSGDH.css" />
    <link rel="icon" type="image/x-icon" href="../public/imgs/icon.ico" />
    <title>SGDH - ARTICLES</title>
  </head>
  <body>
    <div class="container">
      <h1>New Article</h1>

      <form action="/SGDH/articles" method="POST">
        <%- include('_form_fields') %>
      </form>

    </div>
  </body>
</html>