<div class="about-blog-list">
    <h2>Todas las entradas:</h2>
  <ul>
    <% for(let i = 0; i+1 <= articleRange; i++){ %>
    <li><a href="#"><%= articles[i].title %></a></li>
    <% } %>
  </ul>
</div>