<% for(let i = 0; i+1 <= 10; i++) {%>

<div class="content">
  <div>
    <img src="https://placehold.co/200x200" alt="" />
  </div>
  <div>
    <h2><%= articles[i].title %></h2>
    <p><%= articles[i].description %></p>
  </div>
</div>
<% } %>

