.article-card{
    display: flex;
    flex-direction: row;
    margin: 20px;
    border: solid #232323 2px; 
}
.card-description{
    margin: 20px;
}
.card-description p{
    width: 90%;
}
.card-selection{
    margin-top: 30px;
}
.card-selection a{
    font-size: 17px;
    margin: 20px;
    padding: 10px;
    font-family: acari-bold;
}
.edit-btn{
    background: #37ea28;
    border-radius: 3px;
}
.edit-btn:hover{
    background: #27a21c;
    color: #000000;
}
.delete-btn{
    background: #9b0b0b;
    border-radius: 3px;
}
.delete-btn:hover{
    background: #750909;
    color: #000000;
}