.article-card{
    display: flex;
    flex-direction: row;
    margin: 20px;
    border: solid #232323 2px; 
}
.card-description{
    margin: 20px;
}
.card-description p{
    width: 90%;
}
.card-selection{
    margin-top: 30px;
    margin-bottom: 10px;
}
.card-selection a{
    font-size: 17px;
    margin: 20px;
    padding: 10px;
    font-family: acari-bold;
}
.edit-btn{
    background: #555454;
    border-radius: 3px;
}
.edit-btn:hover{
    background: #404040;
}
.delete-btn{
    background: #750909;
    border-radius: 3px;
}
.delete-btn:hover{
    background: #9b0b0b;
}
.btn-new{
    margin: 20px;
}
.btn-new a{
    background: #37ea28;
    padding: 15px;
    border-radius: 3px;
    font-size: 20px;
    width: initial;
    font-family: acari-bold;

}
.btn-new a:hover{
    background: #27a21c;
}

.show-btn{
    background: #27a21c;
    border-radius: 3px;
}
.show-btn:hover{
    background: #37ea28;
}