.form-group{
    display: flex;
    flex-direction: column;
}

.form-group label{
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 20px;
    font-family: acari-bold;
}
.form-group input{
    padding: 10px;
    font-size: 15px;
    border-radius: 5px;
    background: #3c3c3c;
    color: #ffffff;
}
.form-group textarea{
    padding: 10px;
    font-size: 15px;
    width: auto;
    max-width: 98%;
    background: #1d1515;
    color: #ffffff;
}
.form-description{
    height: 200px;
    max-height: 300px;
    min-height: 200px;
}
.form-article{
    height: 700px;
    min-height: 700px;
}

.btn-submit{
    margin-top: 20px;
    padding: 10px;
    background: #29a61e;
    border: none;
    font-family: acari-bold;
    font-size: 20px;
    width: 200px;
    border-radius: 5px;
}
.btn-submit:hover{
    background: #37ea28;
    color: #ffffff;
}
.btn-cancel{
    margin-top: 20px;
    padding: 11px;
    background: #6b0808;
    border: none;
    font-family: acari-bold;
    font-size: 20px;
    width: 200px;
    border-radius: 5px;
}
.btn-cancel:hover{
    background: #9b0b0b;
    color: #ffffff;
}


