@media (max-width: 952px) {
  body {
    width: auto;
    margin: 0;
  }
  div.container {
    position: relative;
    margin-top: 80px;

    display: flex;
    flex-direction: column;
  }
  div.container p{
    font-size: 16px;
  }
  div.container h2{
    font-size: 25px;
  }

  body nav {
    position: fixed;
    top: 0;
    z-index: 99;
    width: 100%;
    max-width: 952px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  label.checkbtn {
    display: block;
  }
  .nav-menu {
    background: #000000;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 62px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  .nav-menu a {
    font-size: 20px;
    margin-top: 50px;
    color: #ffffff;
    display: block;
  }
  .nav-menu a:hover,
  a:active {
    font-size: 20px;
    background: none;
    color: #37ea28;
  }
  #check:checked ~ .nav-menu {
    left: 0;
  }
  div.nav-title a{
    font-size: 25px;
  }

  /* 
    -----------------------------------
    ABOUT
    ----------------------------------- 
    */

  div.cont-about {
    width: 100%;
    border: none;
    border-bottom: solid 5px #ffffff;
  }
  div.about-info {
    margin: 0px;
  }
  div.about-info p {
    text-align: center;
    font-size: 16px;
    margin: 5px;
  }
  div.about-info h3 {
    font-size: 25px;
    margin: 10px;
  }

  div.about-info a {
    font-size: 18px;
    color: #37ea28;
    margin: 20px;
  }

  /* 
-----------------------------------
CONTENT BLOG
----------------------------------- 
*/

div.cont-blog{
    width: 100%;
}
div.cont-blog h1{
    text-align: center;
}
div.content{
    margin: 10px;
    display: flex;
    flex-direction: column;
}
div.content h2{
    text-align: center;
    font-size: 22px;
}
div.content p{
    font-size: 20px;
    width: auto;
}

div.cont-fanfic{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
}

/* 
-----------------------------------
FOOTER
----------------------------------- 
*/

footer{
  display: flex;
  flex-direction: column;
}
div.footer-first{
  display: flex;
  flex-direction: column;
}

/* 
-----------------------------------
QUIEN SOY
----------------------------------- 
*/
div.intro p{
  font-size: 12px;
}
div.explicacion{
  display: flex;
  flex-direction: column;
  margin: 0px;
  width: 100%;
}
div.explicacion h2{
  text-align: center;
  font-size: 25px;
}
div.explicacion p{
  font-size: 18px;
}
div.Audiphon3{
  padding: 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
div.Audiphon3 p{
  margin: 0px;
  font-size: 18px;
  margin-bottom: 10px;
}
div.Audiphon3 h2{
  font-size: 25px;
  text-align: center;
}
div.Audiphon3 img{
  width: 100%;
}
div.YT{
  display: flex;
  flex-direction: column-reverse;
  padding: 0px;
  width: 100%;
  margin-bottom: 20px;
}
div.YT img{
  width: 100%;
  margin: 10px;
}
div.YT h2{
  font-size: 25px;
  text-align: center;
  margin: 10px;
}
div.YT p{
  margin: 0px;
  font-size: 18px;
  width: 100%;
  margin-bottom: 10px;
}
div.YT a{
  font-size: 18px;
}
div.mi-fursona img{
  width: 100%;
}
div.fursona-description{
  margin: 0px;
}
div.fursona-description h2{
  font-size: 25px;
  text-align: center;
}
div.fursona-description p{
  font-size: 16px;
}
div.fursona-description a{
  font-size: 16px;
}
div.Agradecimientos h1{
  padding: 0%;
}
div.Agradecimientos{
  margin: 0%;
  width: 100%;
}
div.Agradecimientos p{
  font-size: 16px;
}

/* 
-----------------------------------
BLOG
----------------------------------- 
*/

div.about-blog-list{
  display: none;
}
div.content p{
  margin: 0px;
  margin-bottom: 10px;
}
div.cont-blog h2 a {
  font-size: 25px;
}
div.pagination-blog a{
  font-size: 25px;
  text-align: center;
}
div.pagination-blog{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-content: center;
}

div.cont-article img{
  width: 90%;
  margin: 0px;
  
}
div.cont-article{
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

div.cont-article p{
  margin: 10px;
  /* margin-bottom: 20px; */
}

/* 
-----------------------------------
STORIES
----------------------------------- 
*/

div.fanfic-main{
  width: 100%;
}
div.fanfic-main h1{
  text-align: center;
}
div.fanfic-main p{
  margin: 0px;
  margin-bottom: 20px;
}
div.fanfic-covers-list{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
div.fanfic-main a{
  font-size: 16px; 
}
div.fanfic-card h2{
  text-align: center;
}
a.storie-botom{
  background-color: #37ea28;
  padding: 10px;
  color: #000000;
  border-radius: 5px;
}
a.storie-botom:hover{
  color: #000000;
}

div.storie-cover{
  display: flex;
  flex-direction: column;
  text-align: center;
}
div.storie-cover img{
  width: auto;
}

div.storie-content img{
  width: 90%;
}
/* 
-----------------------------------
GALLERY
----------------------------------- 
*/
div.gallery-content{
  display: grid;
    grid-template-columns: repeat(2, 1fr);
}
div.gallery-content img{
  width: 100%;
}
div.gallery-container{
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
}
div.photo img{
  width: 100%;
}
}